checkpoints
segment-anything-2/
co-tracker/
videos
.vscode/
.DS_Store
**/*.avi
**/*.mp4
**/*.pt
**/*.pth
**/__pycache__/
!co-tracker/cotracker/utils/visualizer.py
!segment-anything-2/sam2/sam2_video_predictor.py
!segment-anything-2/sam2/build_sam.py
**/*.pkl
**/*.json
**/*.txt
**/*.npy